==
<header>
    <div class="navbar">
        <div class="navbar__logo">
            <div class="navbar__logo-logo">
                <a href="/"><img class="logo-nav" src="themes\final-10\assets\icons\logo-white.svg" alt="logo"></a>
            </div>
        </div>
        <nav class="navbar__wrapper">
            <div class="figure"></div>
            <div></div>
            <div class="figure"></div>
            <div class="navbar__wrapper-item"><a class="header-link" href="/projects">PROJECTS</a></div>
            <div class="figure"></div>
            <div class="navbar__wrapper-item navbar__wrapper-item-project"><a class="header-link" href="/gallery">GALLERY</a></div>
            <div class="figure"></div>
            <div class="navbar__wrapper-item"><a class="header-link" href="/about">ABOUT</a></div>
            <div class="figure"></div>
            <div></div>
        </nav>
        <nav class="navbar__mobile">
            <!-- <i class="fas fa-bars fa-3x navbar__mobile-item"></i> -->
            <button class="hamburger hamburger--spin navbar__mobile-item" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </nav>
        <div class="navbar__header">
            <h1>GABRIELA POMETKOVA</h1>
        </div>
    </div>
    <div class="navbar__mobile-menu">
        <a href="/GP/" class="header-link">PROJECTS</a>
        <a href="" class="header-link">GALLERY</a>
        <a href="" class="header-link">ABOUT</a>
    </div>
</header>